.github {
    p {
        padding-bottom: 1em;
    }
    a {
        color: aqua;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
        display:block;
    }
}